@media (min-width: 1200px) {
	.configuration-container {
			top: 0; left: 0; right: 0; bottom: 0;
			position: absolute;
			padding: 0 -15px;
			overflow: hidden;
	}
	.configuration-actions {
			padding: 15px -15px;
	}

	.configuration-header {
			height: 100px; 
			position: absolute;
			padding: 0 15px 0 0;
			top: 0; right: 0; left: 0;
	}

	.configuration-sections {
			top: 115px; right: 0; left: 0;
			height: 50px; 
			position: absolute;
	}

	.configuration-body {
			top: 185px; right: 0; left: 0; bottom: 115px;
			overflow: auto;
			position: absolute;
	}

	.configuration-footer {
			height: 115px;
			right: 0; left: 0; bottom: 0px;
			position: absolute;
			padding: 0 15px 15px 15px;
	}
}

@media (min-width: 768px) {
	.configuration-container {
			width: 100%;
			height: 100%;
	}
	.configuration-actions {
			padding: 15px 0;
	}
	
	.configuration-header {
			width: 100%;
	}
	
	.configuration-sections {
			width: 100%;
	}
	
	.configuration-body {
			width: 100%;
			overflow: auto;
			padding: 15px 15px 0 0;
	}
	
	.configuration-footer {
			width: 100%;
	}
}
